@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <h1 class="display-4"><strong>Jingle Planner</strong></h1>

    <form method="post" asp-controller="Users" asp-action="Login">
        <button type="submit">Log in</button>
    </form>
    <form method="post" asp-controller="Users" asp-action="Register">
        <button type="submit">Sign up</button>
    </form>

    <img src="logo.jpg" alt="Logo" />
</div>
